#game-main {
  margin: auto;
  display: flex;
  justify-content: center;
}

#game-container {
  width: 1065px;
}

#game-info {
  padding: 0;
  text-align: left;
  font-size: 1.2em;
  list-style: none;
  
  font-family: Arial, Helvetica, sans-serif;
}